In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [4]:
parse_dates = ['filing_date','registration_date','renewal_due_date']
applications = pd.read_csv('tmlink-applications.csv', parse_dates = parse_dates)
applications.shape

C:\Users\MeAmit\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(15388684, 7)

In [12]:
applications = applications[(applications.filing_date > datetime.strptime('2014-01-01','%Y-%m-%d')) & (applications.filing_date < datetime.strptime('2015-01-01','%Y-%m-%d'))]

In [13]:
applications.to_csv('applications_2014.csv', index = False)

In [16]:
applications.head()

,application_number,application_country,madrid_number,current_status,filing_date,registration_date,renewal_due_date
1429374,1595716,AU,NaN,Registered/Protected,2014-01-07,2014-11-12,2024-01-07
1429795,1596153,AU,NaN,Registered/Protected,2014-01-06,2014-08-06,2024-01-06
1430093,1596452,AU,614158,Registered/Protected,2014-01-14,2014-08-13,2024-01-13
1430094,1596453,AU,614603,Registered/Protected,2014-01-14,2014-08-13,2024-01-13
1430672,1597056,AU,NaN,Registered/Protected,2014-01-02,2014-08-06,2024-01-02

In [14]:
applicants = pd.read_csv('tmlink-applicants.csv')
applicants.shape

C:\Users\MeAmit\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,1,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(16988158, 4)

In [15]:
applicants.head()

  applicant_country applicant_name application_country application_number
0                AU   NON-ENTITY 1                  AU             898944
1                AU   NON-ENTITY 2                  AU            1566353
2                AU   NON-ENTITY 3                  AU            1272528
3                AU   NON-ENTITY 4                  AU            1461254
4                AU   NON-ENTITY 5                  AU            1009018

In [17]:
applicants = pd.merge(applications,applicants)[['applicant_country','applicant_name','application_country','application_number']]
applicants.shape

(668353, 4)

In [22]:
applicants.to_csv('applicants_2014.csv', index = False)

In [19]:
nice_class = pd.read_csv('tmlink-nice-class.csv')
nice_class.shape

C:\Users\MeAmit\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(25343982, 3)

In [20]:
nice_class.head()

  application_country application_number  nice_class
0                  AU                  1         5.0
1                  AU                  3         5.0
2                  AU                  4         5.0
3                  AU                  5         3.0
4                  AU                 12        30.0

In [21]:
nice_class = pd.merge(applications,nice_class)[['application_country','application_number','nice_class']]
nice_class.shape

(1147466, 3)

In [23]:
nice_class.to_csv('nice_class_2014.csv', index = False)

In [24]:
trademarks = pd.read_csv('tmlink-trademark-details.csv')
trademarks.shape

C:\Users\MeAmit\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(14371362, 4)

In [25]:
trademarks.head()

,application_country,application_number,trademark_text,uid_trademark
0,AU,1,PEPS,7042017.0
1,AU,3,BILE BEANS FOR BILIOUSNESS B,154411.0
2,AU,4,ZAM-BUK Z,NaN
3,AU,5,ZAM-BUK Z,7656767.0
4,AU,12,GOLDEN DRAGON,154412.0

In [26]:
trademarks = pd.merge(applications,trademarks)[['application_country','application_number','trademark_text','uid_trademark']]
trademarks.shape

(560517, 4)

In [27]:
trademarks.to_csv('trademarks_2014.csv', index = False)